@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);


body{
    margin: 0px;
    position: relative;
}
.header{
    background: linear-gradient(0deg, rgba(1,0,4,1) 0%, rgba(14,39,60,1) 45%, rgba(14,105,131,1) 100%);;
    padding-top: 25px;
}

.containerall{
    margin-left: 200px; 
    margin-right: 200px; 
    padding-bottom: 100px;
}

.mynav{color: inherit;}
.mynav__container{color:inherit;}
.mynav__container__navlist{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
.mynav__container__navlist{}
.mynav__container__navlist__navitem__item{
    color: white;
    text-decoration: none;
}


.gallery{
    text-align: center;
}

.info{}
.info__title{}
.info__description{}
.info__description__img{
    float: right;
    margin: 10px;
    width: 450px;
}
.info__description__img--left{
    float: left;
}

.socialmedia{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;

    background-color: #292626;
    padding-top: 10px;
    padding-bottom: 10px;
}
.socialmedia__container{
    display: grid;
    list-style: none;
    justify-content: center;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
    
}
.socialmedia__container_img{
    border-radius:150px;
}


.bodyroom__img{
    width: 1100px;
}

.bodydining_img{
    text-align: center;
}

.form__button{
    margin: 10px;
    background-color: rgb(14, 103, 128);
    width: 120px;
    height: 40px;
    color: white;
}